{
  presets: ['env', 'react', 'stage-2'],
  plugins: ['babel-plugin-styled-components', 'universal-import'],
  env: {
    development: {
      plugins: ['babel-plugin-styled-components', 'react-hot-loader/babel'],
    },
  },
}
