.presentation {
    height: 80vh;
    background: linear-gradient(to bottom, rgba(0,198,187,1) 0%,rgba(0,198,187,0.5) 50%,rgba(0,198,187,0.0) 100%);
    text-align: center;
}

.title {
    color: #444444;
    text-align: center;
    font-size: 4.5em;
    font-weight: 500;
    font-family: Roboto, sans-serif;
}

.subTitle {
    color: white;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    font-family: Roboto, sans-serif;
}

.panel {
    height: auto;
    margin-left: 6%;
    padding: 20px;
    word-wrap: break-word;
    font-family: Raleway, sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    color: #7c7c7c;
    z-index: 5;
    background-color: transparent;
    color: #444444
}

.status {
    font-family: Raleway, sans-serif;
    font-size: 0.9em;
    color: #7c7c7c
}

.aboutme {
    background-color: "#dfdfdf";
    padding: 20px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px
}

.goDown {
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    margin-bottom: 10px
}

.goUp {
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    margin-top: 10px
}

.advanced {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-image: -moz-radial-gradient(45px 45px, circle cover, green 0%, white 40%, green 90%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, green 0%, white 40%, green 90%);
	background-image: radial-gradient(45px 45px, circle cover, green 0%, white 40%, green 90%);
	display: inline-block;
	margin-right: 10px
}